@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* text */
  --background-start-rgb: 0, 0, 0; /* background */
  --background-end-rgb: 0, 0, 0; /* background */
  --primary-rgb: 5, 69, 206;
  --secondary-rgb: 80, 97, 137;
  --accent-rgb: 129, 243, 7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* colors: {
 'text': '#ffffff',
 'background': '#000000',
 'primary': '#0545ce',
 'secondary': '#506189',
 'accent': '#81f307',
},
 */